
main {
    display:grid;
    grid-template-columns:1fr 5fr;
    max-width: 1000px;
    margin: 0 auto;
}

.button1 {
    color: white;
    background-color: coral;

}

.sidepic {
   height: 10px;
   width: 100px;
    grid-column: 1/1;
    margin: 10px;
    align-content: left;

}


.sitetext {
    height: 10px;
    width: 50px;;
    grid-column: 2/2;
    zz-index: -1;

    background-color: whitesmoke;
    font-size: 15px;
    border: gray 1pt;
    box-sizing: border-box;
}

